#banner{
    background-color: var(--background-color);
}
.nav-container{
    background-image: url(images/bnrimg.png);
    background-repeat: no-repeat;
    background-position: center;
}
.nav{
    color: var(--font-prymary-color);
    padding: 28px;
    display: flex;
    justify-content: space-between;
    gap:20px;
    font-weight: 400;
    font-size: 40px;
}

@media only screen and (min-width : 200px) and (max-width: 576px) {
    .nav {
        font-size: 16px;
    }
}

.banner-title{
    color: var(--font-prymary-color);
}
.banner-title h1{
    text-transform: uppercase;
    font-size: 152px;
    font-weight: 400;
    line-height: 170px;
    text-align: center;
    margin-bottom: 60px;
}
.banner-title p{
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 30px;
    padding-bottom: 40px;
}
.imginner img{
    height: 300px;
}
.imginner{
    background-color: var(--font-prymary-color);
    width: fit-content;
}
.banner-profile-continer{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--font-prymary-color);
    border-bottom: 1px solid var(--font-prymary-color);
}
.banner-profile-desc h1{
    color: var(--font-prymary-color);
    text-transform: uppercase;
    font-size: 40px;
}
.banner-profile-desc{
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-size: 40px;
}
.hero-icon{
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--font-prymary-color);
}
.check-icon{
    color: var(--font-prymary-color);
    width: 60px;
    height: 60px;
}
.project-one h1{
    color: var(--font-prymary-color);
    font-size: 150px;
    line-height: 140px;
    padding-bottom: 20px;

}
.project-one p{
    color: var(--font-prymary-color);
    font-size: 40px;
    line-height: 43px;
}
.counter-wraper{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

#my-project{
    background-color: var(--background-color);
    padding: 100px 0;
}
.projects h1{
    color: var(--font-prymary-color);
    text-transform: uppercase;
    font-size: 18px;
}
.project-wraper{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}
.projects-items img{
    width: 100%;
}
.check-all-project button{
    padding: 15px 50px;
    background-color: var(--background-color);
    margin-top: 50px;
    margin-bottom: 25px;
    color: var(--font-prymary-color);
    font-size: 20px;
    text-transform: uppercase;
    border: 1px solid var(--font-prymary-color);
}
.check-all-project{
    display: flex;
    justify-content: center;
}
#blog{
    background-color: var(--background-color);
}
.section-title h1{
    color: var(--font-prymary-color);
    margin-bottom: 30px;
}
.my-blogs{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.blog-item{
    width: fit-content;
}
.blog-item img{
    width: 100%;
}
.img-info{
    background-color: var(--font-prymary-color);
    width: fit-content;
    border-radius: 50px;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.img-info span{
    font-size: 14px;
}
.blog-item p{
    color: var(--font-prymary-color);
    font-size: 14px;
    line-height: 18px;
}
#Testimonials{
    background-color: var(--background-color);
    padding: 100px 0;
}
.testi-heading{
    text-align: center;
    margin-bottom: 50px;
}
.testi-heading h1{
    color: #5E4AF1;
    font-size: 80px;

}
.testi-heading p{
    color: var(--font-prymary-color);
    font-size: 16px;
}
.testimonial-wrapper{
    display: flex;
    gap: 30px;
}
.testimonial-content-left{
    width: 65%;
}
.testimonial-content-right{
    width: 35%;
    background-color: #5E4AF1D9;
}
.t-content-top{
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    background-color: #5E4AF1D9;
}
.t-content-bottom{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: #5E4AF1D9;
}
.t-text{
    color: var(--font-prymary-color);
    padding: 35px;
}
.t-text h1{
    font-size: 48px;
    line-height: 50px;
    font-weight: 400;
    padding-bottom: 30px;
}
.t-text p{
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
}

.t-image-right{
    height: 65%;
 
}
.t-text-right{
    color: var(--font-prymary-color);
}

.t-image-right img{
    width: 100%;
    height: 100%;
}