@media only screen and (min-width : 200px) and (max-width: 576px) {
    .nav{
       
    }
    .nav h3{
        font-size: 16px;
    }
    .banner-title h1{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 400;
    line-height: 70px;
    text-align: center;
    margin-bottom: 60px;
}
.banner-title p{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 30px;
    padding-bottom: 40px;
}
#banner-img{
    width: 100%;
}
.banner-profile-continer{
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
}
.counter-wraper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.hero-icon h1{
    padding-left: 30px;

}
.project-one{
    text-align: center;
}
.project-wraper{
    grid-template-columns: repeat(1, 1fr);
}
}