
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');

:root{
    --primary-color:#BA0BF9;
    --background-color:#0C0418;
    --font-prymary-color:#FEFFFF;
}
*{
    padding: 0;
    margin: 0;
    font-family: "Antonio", sans-serif;
}
.container{
    width: 85%;
    margin: 0 auto;
}